<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Portfolio</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./static/assets/img/favicon.png">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="./static/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./static/assets/css/style.css" rel="stylesheet">
    <link href="./static/assets/css/responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <header id="masthead" class="site-header" data-anchor-target=".hero" data-top="background: rgba(255,255,255,0); padding: 30px 0; box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0);" data-top-bottom="background: rgba(255,255,255,1); padding: 10px 0; box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.2);">
        <nav id="primary-navigation" class="site-navigation">
            <div class="container">
                <div class="navbar-header page-scroll">

                    <button type="button" class="navbar-toggle collapsed" data-target="#projects-collapse" aria-expanded="false" >
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a href="#hero" class="site-logo"><img src="./static/assets/img/logo.png" alt="logo"></a>

                </div><!-- /.navbar-header -->

                <div class="main-menu" id="projects-collapse">

                    <ul class="nav navbar-nav navbar-right">

                        <li class="page-scroll"><a href="#hero">Home</a></li>
                        <li class="page-scroll"><a href="#about">About</a></li>
                        <li class="page-scroll"><a href="#interests">Interests</a></li>
                        <li class="page-scroll"><a href="#projects">Projects</a></li>
                        <li class="page-scroll"><a href="#contact">Contact Me</a></li>
                        
                    </ul><!-- /.navbar-nav -->

                </div><!-- /.navbar-collapse -->

            </div>
        </nav><!-- /.primary-navigation -->
    </header><!-- /#header -->

    <div id="hero" class="hero">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <h1>Kirankumar Raveendiran</h1>
                    <div class="page-scroll">
                        <p class="job-title">Electrical and Computer Engineer<br>Embedded Systems and Machine Learning Enthusiast</p>
                        <a href="#contact" class="btn btn-fill ">Connect</a>
                        <div class="clearfix visible-xxs"></div>
                        <a href="#interests" class="btn btn-border">Explore</a>
                    </div>
                </div>
            
                <div class="col-md-6 text-right">
                    <img src="././static/assets/img/kiran-ravee.jpg" alt="kiran-ravee">
                </div>

            </div>
        </div>
    </div><!-- /.hero -->

    <main id="main" class="site-main">

        <section id="about" class="site-section section-about text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h2>About</h2>
                        <img src="./static/assets/img/lines.svg" class="img-lines" alt="lines">
                        <p>Hello! I'm Kirankumar Raveendiran, a computer engineer with interest in Embedded Software and Machine Learning Domains. I’m currently looking for full-time employment opportunities for the above-mentioned job roles. If you feel that I will be a great fit for your organization, then get in touch through the contact form provided below or reach through email. </p>
                        <a href="https://drive.google.com/file/d/1Z-x0nljT7dd5PGQGfvJPVocgGbFublDe/view?usp=share_link" class="btn btn-fill" target="_blank">View resume</a>
                    </div>
                </div>
            </div>
        </section><!-- /.secton-about -->

        <section class="site-section section-skills">
            <div class="container">
                <div class="text-center">
                    <h3>My Skills</h3>
                    <img src="./static/assets/img/lines.svg" class="img-lines" alt="lines">
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="skill">
                            <h4>Python</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="95"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                        <div class="skill">
                            <h4>C/C++</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="85"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                    </div>
                    <div class="col-md-4">
                        <div class="skill">
                            <h4>Verilog/VHDL</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="70"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                        <div class="skill">
                            <h4>AI/ML Algorithms</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="75"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                    </div>
                    <div class="col-md-4">
                        <div class="skill">
                            <h4>TensorFlow/PyTorch</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="70"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                        <div class="skill">
                            <h4>Linux/Embedded RTOS</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="65"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                    </div>
                </div>
            </div>
        </section><!-- /.secton-skills -->

        <section id="interests" class="site-section section-services overlay text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Roles of Interest</h3>
                        <img src="./static/assets/img/lines.svg" class="img-lines" alt="lines">
                    </div>
                    <div class="col-sm-4">
                        <div class="interests">
                            <img src="./static/assets/img/front-end.svg" alt="Front End Developer">
                            <h4>Embedded Software Engineer</h4>
                            <p>With an interest in embedded software based roles, I have experience in developing firmware for embedded systems using programming languages like C and C++. Also, I am equally proficient in both RTOS and Linux Kernel. I have worked on developing software for PIC microcontrollers, and other embedded platforms.</p>
                        </div><!-- /.interests -->
                    </div>
                    <div class="col-sm-4">
                        <div class="interests">
                            <img src="./static/assets/img/back-end.svg" alt="Back End Developer">
                            <h4>Machine Learning Engineer</h4>
                            <p>With an interest in machine learning based roles, I have experience in developing machine learning models and optimizing the same for real-time usage. I am proficient in Python programming language and frameworks like TensorFlow and PyTorch. I have developed and deployed models for various applications such as object detection and natural language processing.</p>
                        </div><!-- /.interests -->
                    </div>
                    <div class="col-sm-4">
                        <div class="interests">
                            <h4>Data Analyst/Scientist</h4>
                            <p>With an interest in data scientist/analyst roles, I have experience in analyzing and interpreting complex data sets using statistical techniques and tools like SQL and Python. I am skilled in data cleaning, data mining, and data visualization.</p>
                        </div><!-- /.interests -->
                    </div>
                </div>
            </div>
        </section><!-- /.secton-services -->

        <section id="projects" class="site-section section-projects">
            <div class="container">
                <div class="text-center">
                    <h3>My Project Works</h3>
                    <img src="./static/assets/img/lines.svg" class="img-lines" alt="lines">
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-6">
                        <div class="projects-item">
                            <img src="./static/assets/img/projects-1.jpg" class="img-res" alt="">
                            <div class="projects-item-info">
                                <h4>VLSI-based project</h4>
                                <a href="#" data-toggle="modal" data-target="#portfolioItem1"><span class="glyphicon glyphicon-eye-open"></span></a>
                            </div><!-- /.projects-item-info -->
                        </div><!-- /.projects-item -->
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="projects-item">
                            <img src="./static/assets/img/projects-2.jpg" class="img-res" alt="">
                            <div class="projects-item-info">
                                <h4>ML-based project</h4>
                                <a href="#" data-toggle="modal" data-target="#portfolioItem2"><span class="glyphicon glyphicon-eye-open"></span></a>
                            </div><!-- /.projects-item-info -->
                        </div><!-- /.projects-item -->
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="projects-item">
                            <img src="./static/assets/img/projects-4.jpg" class="img-res" alt="">
                            <div class="projects-item-info">
                                <h4>FPGA-based project</h4>
                                <a href="#" data-toggle="modal" data-target="#portfolioItem3"><span class="glyphicon glyphicon-eye-open"></span></a>
                            </div><!-- /.projects-item-info -->
                        </div><!-- /.projects-item -->
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="projects-item">
                            <img src="./static/assets/img/projects-3.jpg" class="img-res" alt="">
                            <div class="projects-item-info">
                                <h4>Tensorflow-based project</h4>
                                <a href="#" data-toggle="modal" data-target="#portfolioItem4"><span class="glyphicon glyphicon-eye-open"></span></a>
                            </div><!-- /.projects-item-info -->
                        </div><!-- /.projects-item -->
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="projects-item">
                            <img src="./static/assets/img/projects-5.jpg" class="img-res" alt="">
                            <div class="projects-item-info">
                                <h4>Raspberry Pi-based project</h4>
                                <a href="#" data-toggle="modal" data-target="#portfolioItem5"><span class="glyphicon glyphicon-eye-open"></span></a>
                            </div><!-- /.projects-item-info -->
                        </div><!-- /.projects-item -->
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="projects-item">
                            <img src="./static/assets/img/projects-6.jpg" class="img-res" alt="">
                            <div class="projects-item-info">
                                <h4>Arduino-based project</h4>
                                <a href="#" data-toggle="modal" data-target="#portfolioItem6"><span class="glyphicon glyphicon-eye-open"></span></a>
                            </div><!-- /.projects-item-info -->
                        </div><!-- /.projects-item -->
                    </div>
                </div>
            </div>
        </section><!-- /.secton-projects -->

        <section class="site-section section-counters text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <p class="counter start" data-to="5" data-speed="2000">0</p>
                        <h4>Number of Certifications</h4>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <p class="counter start" data-to="7" data-speed="2000">0</p>       
                        <h4>Number of Projects</h4>      
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <p id="infinity" class="counter" data-from="0" data-to="1" data-speed="1000">0</p>
                        <h4>Seconds on this site!<br>What are you waiting for?</h4>
                    </div>
                </div>
            </div>
        </section><!-- /.section-counters -->

        <section id="contact" class="site-section section-form text-center">
            <div class="container">
                <h3>Contact</h3>
                <img src="./static/assets/img/lines.svg" class="img-lines" alt="lines">
                <form action="/submit_form" method="POST">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" name="name" class="form-control mt-x-0" placeholder="Name" required>
                        </div>
                        <div class="col-sm-6">
                            <input type="email" name="email" class="form-control" placeholder="Email" required>   
                        </div>
                        <div class="col-sm-12">
                            <textarea name="message" id="mesaage" class="form-control" placeholder="Message" required></textarea>
                        </div>
                    </div>
                    <button href="#" class="btn btn-border" type="submit">Send <span class="glyphicon glyphicon-send"></span></button>
                </form>
                {% if message %}
                <br>
                <div class="alert alert-success">
                    {{ message }}
                </div>
                {% endif %}
                <br>
                <br>
                <br>
                <h3>Contact Information:</h3>
                <img src="./static/assets/img/lines.svg" class="img-lines" alt="lines">
                <br>
                <br>
                <br>
                <p><strong>Phone:</strong> (720) 643-8317</p>
                <p><strong>Email:</strong> kirankumar9736@gmail.com</p>
                <p><strong>Address:</strong> 1600 W PLUM ST, APT 32B, Fort Collins, Colorado USA</p>
            </div>
        </section><!-- /.section-form -->

    </main><!-- /#main -->

    <footer id="colophon" class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <a class="icon facebook-official-bg" href="https://www.facebook.com/R.Kirankumar15"><i class="icon-facebook-official"></i></a>
                    <a class="icon twitter-bg" href="https://twitter.com/kirankumar_r97"><i class="icon-twitter"></i></a>
                    <a class="icon instagram-bg" href="https://www.instagram.com/r_kiran_kumar_97/"><i class="icon-instagram"></i></a>
                    <a class="icon linkedin-bg" href="https://www.linkedin.com/in/kirankumar-raveendiran/"><i class="icon-linkedin"></i></a>
                    <a class="icon github-squared-bg" href="https://github.com/Kirankumar1597"><i class="icon-github-squared"></i></a>
                </div>
                <div class="col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3"><p class="copyright">2023 All Rights Reserved</p></div>
            </div>
        </div>
    </footer><!-- /#footer -->

    <!-- Modals -->
    <div id="portfolioItem1" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
            <img class="img-res" src="./static/assets/img/projects-1.jpg" alt="">
          </div>
          <div class="modal-body">
            <h4 class="modal-title">Digital Logic Circuit Design</h4>
            <p>Created small libraries and optimized the final design of an 8-bit carry select asynchronous 2's complement adder/subtractor using Cadence Virtuoso. Design rule check (DRC) and layout versus schematic check (LVS) were executed to ensure accurate and reliable functionality.</p>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem2" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
            <img class="img-res" src="./static/assets/img/projects-2.jpg" alt="">
          </div>
          <div class="modal-body">
            <h4 class="modal-title">Classification of Vehicles Using Convolutional Neural Networks</h4>
            <p>Convolutional Neural Network (CNN) model for vehicle classification was developed using Jupyter Notebook. The model was trained with 8,500 vehicle images and achieved an accuracy of 78% on the classification task after implementing SGD and ADAM optimization algorithms.</p>
          </div>
          <div class="modal-footer">
            <a href="https://github.com/Kirankumar1597/CS-545-Machine-Learning-Project" class="btn btn-fill">Github Link</a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem3" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
            <img class="img-res" src="./static/assets/img/projects-4.jpg" alt="">
          </div>
          <div class="modal-body">
            <h4 class="modal-title">FPGA Image Processing</h4>
            <p>This project involved designing an FPGA-based image processing system using Digilent Arty S7-50 development board and Xilinx Vivado ML, implementing a mean filter operation on selected image input, and visualizing the output image as a video at 480p resolution frame rate image in real-time.</p>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem4" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
            <img class="img-res" src="./static/assets/img/projects-3.jpg" alt="">
          </div>
          <div class="modal-body">
            <h4 class="modal-title">MNIST Neural Network Model Optimization</h4>
            <p>Deep learning model for the MNIST American Sign Language Dataset was developed and optimized using Google Colab and TensorFlow/TensorFlow Lite frameworks, achieving up to 4x reduction in model latency and size while maintaining a minimum of 90% test accuracy through techniques like dynamic range quantization, post-training quantization, quantization-aware training, and weight pruning. </p>
          </div>
          <div class="modal-footer">
            <a href="https://github.com/Kirankumar1597/ECE-528-Embedded-Systems-Machine-Learning-Assignments/tree/main/A3" class="btn btn-fill">Github Link</a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem5" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
            <img class="img-res" src="./static/assets/img/projects-5.jpg" alt="">
          </div>
          <div class="modal-body">
            <h4 class="modal-title">Smart Attendance System Using Raspberry Pi</h4>
            <p>The Smart Attendance System Using Raspberry Pi involved designing an attendance system on Raspberry Pi computer by implementing RFID technology to authorize and record attendance, creating a database with unique IDs using MySQL, configuring the RFID reader to read the unique IDs stored in each RFID card, and programming the Raspberry Pi module to accurately count attendance, store data, and finally to generate an attendance report.</p>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem6" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
            <img class="img-res" src="./static/assets/img/projects-6.jpg" alt="">
          </div>
          <div class="modal-body">
            <h4 class="modal-title">Smart Gas Cylinder Monitoring and Management System</h4>
            <p>The Smart Gas Cylinder Monitoring and Management System involved developing an embedded system based on the Arduino platform to monitor gas cylinder and manage gas leakage, integrating Load Cell Weight Sensor, MQ5 Gas Sensor, and Wi-Fi module with Arduino, and programming the Arduino microcontroller to send a signal to the solenoid valve to automatically close the cylinder valve upon detecting gas leakage and sending an alert in case of any gas leakage and automatic closure of cylinder valves.</p>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="./static/assets/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="./static/assets/js/skrollr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-progressbar/0.9.0/bootstrap-progressbar.min.js"></script>
    <script src="./static/assets/js/jquery.countTo.min.js"></script>
    <script src="./static/assets/js/script.js"></script>
  
</body>
</html>